[Desktop Entry]
Name=BitiSafe in Userspace
Comment=Sets up the desktop environment for BitSafe
Icon=nm-device-wireless
Exec=bitsafe-userspace
Terminal=false
Type=Application
